@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Lato:300');


.container {
  display: flex;
}

.text-wrapper {
  margin-top: 8vw;
  margin-left: 12vw;
  width: 90%;
  /*padding: 1vw;*/
}

label {
	cursor: pointer;
}

#moreinfo1, #moreinfo2, #moreinfo3, #moreinfo4, #moreinfo5 {
  display: none;
}

a {
	text-decoration: none;
}

#goldlink {
	color: #da8c29;
}

/* ==========================================================================
   Typography:
   ========================================================================== */

body {
	font-family: Lato, sans-serif;
/*	margin: 2vw 8vw 0vw;*/
	background-color: #ececec;
  	color: #081437;
}


h1 {
	font-family: Cardo, serif;
	font-size: 8vw;
	color: #f7bab5;
  -webkit-animation: animation 1500ms linear both;
  animation: animation 1500ms linear both;
  -webkit-animation-delay: .3s;
  position: absolute;
}

h2 {
  /*margin-top: 3vw;
  /*width: 10vw;*/
  font-family: Cardo, serif;
  font-size: 3vw;
  width: initial;
  margin-top: 0;
}


p {
  /*position: absolute;*/
  /*width: 50%;*/
  /*z-index: 2;*/
  font-family: Lato, sans-serif;
  font-size: 2vw;
  /*width: initial;*/
  margin-left: 4vw;
  margin-top: 0;
}

ul {
  font-family: Lato, sans-serif;
  font-size: 2vw;
  margin-left: 4vw;
  list-style-type: none;
}

